$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$background-color: #42A9F4;

body {
	font-family: $font-stack;
	color: $primary-color;
	padding-top: 100px;
}

form {
	padding-top: 50px;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

.menu {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000;
	font-size: x-large;
	background: $background-color;
	clear: both;
	text-align: center;
	margin-bottom: 20px;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.placeholder {
	background: $background-color;
	height: 500px;
	text-align: center;
	font-size: 25px;
}

.navbar-title {
	display: block;
	text-align: center;
	font-size: xx-large;
	line-height: 50px;
}

.navbar .dropdown {
	position: absolute;
	top: 0px;
	right: 10px;

	button {
		border: none;
		height: 50px;
		font-size: large;
		background-color: #F8F8F8;
		border-radius: 0px;
	}
}

canvas {
	border: 1px solid black;
}

canvas:focus {
	outline: none;
}

.center {
	text-align: center;
}

.theory-navbar {
	text-align: center;
	border-bottom: 1px solid #E2E2E2;
}

.previous-lecture {
	position: absolute;
	top: 0px;
	left: 20px;
	font-size: large;
	height: 45px;
	line-height: 45px;
}

.next-lecture {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: large;
	height: 45px;
	line-height: 45px;
}

.lecture-title {
	font-size: xx-large;
}

.lecture-text {
	padding: 30px 100px;
	font-size: large;
}

.lecture-quiz {
	margin: 0px 200px;
	padding: 20px;
	font-size: large;
	background-color: #F8F8F8;
	text-align: center;

	button {
		margin-bottom: 10px;
	}
}

.quiz-answers {
	margin: 15px 0px;

	label {
		display: inline-block;
		margin-left: 10px;
		text-align: left;
	}
}
