$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$background-color: #42A9F4;

body {
	font: 100% $font-stack;
	color: $primary-color;
	padding-top: 130px;
}

form {
	padding-top: 50px;
}

a:hover {
	text-decoration: none;
}

.menu {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000;
	font-size: x-large;
	background: $background-color;
	clear: both;
	text-align: center;
	margin-bottom: 20px;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.nav-bar {
	text-align: center;
	font-size: xx-large;
}

.placeholder {
	background: $background-color;
	height: 500px;
	text-align: center;
	font-size: 50px;
}

.navbar-right {
	float: right;
	padding-right: 20px;
}

canvas {
	border: 1px solid black;
}

canvas:focus {
	outline: none;
}

.center {
	text-align: center;
}
