$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$background-color: #42A9F4;

body {
	font: 100% $font-stack;
	color: $primary-color;
	padding-top: 130px;
}

form {
	padding-top: 50px;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}


.menu {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000;
	font-size: x-large;
	background: $background-color;
	clear: both;
	text-align: center;
	margin-bottom: 20px;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.placeholder {
	background: $background-color;
	height: 500px;
	text-align: center;
	font-size: 25px; 
}

.navbar-title {
	display: block;
	text-align: center;
	font-size: xx-large;
	line-height: 50px;
}

.navbar-user {
	position: absolute;
	top: 6px;
	right: 10px;
}

canvas {
	border: 1px solid black;
}

canvas:focus {
	outline: none;
}

.center {
	text-align: center;
}

.theory-navbar h3 {
	display:inline-block;
}

.theory-navbar h2 {
	padding-left: 50px;
	padding-right: 50px;
	display:inline-block;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}